.container {
    width: 100vw;
    padding: 30px;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
}

.between {
    justify-content: space-between;
}

.centered {
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: calc(100vw - 60px);
}

.col-2 {
    width: 15.979%;
}